### Labo Week 1 : Datastructuren in Python

#### Alvast 10 bijzonderheden van de taal : 

> 1. Python is een geïnterpreteerde taal
> 2. Code wordt gestructureerd via spaties / tabs en niet via accolades

        for x in array:
            if x < 4:
                result = True
> 3. Python is dynamisch en sterk getypeerd
> 4. Alles is een object in Python : getallen, strings, data structuren, functies, classes, ... 
   en elk object heeft interne data en een type
> 5. Commentaar plaats je achter de hash mark : # dit zal genegeerd worden
> 6. Functies kunnen _positional_ en _keyword_ argumenten hebben : result = f(a,b,c,d=5,e='foo')
> 7. The Python null value type is *None*
> 8. Python built-in data structures : Tuple, List, Set, Dictionary
> 9. Python Libraries : numPy, pandas, scikit-learn
> 10. Matplotlib Integratie

Meer bijzonderheden te ontdekken ivm basis Python : https://docs.python.org/3/tutorial/

### Deel 1  : Functies in Python

Functies worden aangemaakt via het `def` keyword. Via ronde haken geef je parameters mee (_positional_ en _keyword_). Via keyword `return` geef je een resultaat terug.

**_Oefening 1_** : 
Schrijf een programma dat de conversie van Celsius naar Fahrenheit doet. 
De conversieformule is $^\circ$F = 9/ 5 * $^\circ$C + 32. 
Controleer de correcte uitvoer van je programma: 12$^\circ$C = 53.6$^\circ$F .

Maak tevens de omgekeerde conversie van Fahrenheit naar Celsius. Controleer opnieuw de
correcte uitvoer van je programma: 77$^\circ$F = 25$^\circ$C.

In [5]:
def f_to_c(value):
    return (value-32)*5/9

In [6]:
def c_to_f(value):
    return (9/5)*value + 32

In [7]:
print(f"c to f (12): {c_to_f(12)}")
print(f"f to c (77): {f_to_c(77)}")

c to f (12): 53.6
f to c (77): 25.0

**_Oefening 2_** : Schrijf een programma waarbij je de gebruiker zijn voornaam, naam en vervolgens zijn leeftijd vraagt. Verwelkom deze gebruiker en laat hem weten in welk jaar deze de leeftijd van 100 jaar zal bereiken.  

**Tips** : 
- Maak gebruik van de datetime module.
- Via de `input()` methode kan je de gebruiker input laten geven.

In [10]:
from datetime import datetime
voornaam = input("voornaam: ")
naam = input("naam: ")
leeftijd = input("leeftijd: ")
print(f"hallo {voornaam} {naam}, je zal 100 jaar bereiken in {datetime.now().year+100-int(leeftijd)}")

voornaam:  kenzo
naam:  staelens
leeftijd:  21

hallo kenzo staelens, je zal 100 jaar bereiken in 2102

**_Oefening 3_** : Schrijf de functie $omtrek\_opp$ die een straal als input neemt en zowel de omtrek als oppervlakte van de cirkel als resultaat teruggeeft in een tuple.

In [144]:
from math import pi
def omtrek_opp(straal):
    return (pi*straal**2, 2*pi*straal)

o_o = omtrek_opp(1)
print(f"straal: {1}; oppervlakte: {o_o[0]}; omtrek: {o_o[1]}")

straal: 1; oppervlakte: 3.141592653589793; omtrek: 6.283185307179586

**_Oefening 4_** : 

**4.1** Definieer 2 lijsten: ééntje met de letters van het woord 'boterham' en ééntje met letters van het woord 'hamvraag'

**4.2** Schrijf een functie _klinkers_ die een lijst van letters filtert zodanig dat enkel de klinkers overblijven 

**4.3** Roep de functie aan op je 2 lijsten

**4.4** Ga na welke klinkers ze gemeenschappelijk hebben

In [12]:
boterham, hamvraag = [x for x in "boterham"], [x for x in "hamvraag"]
def klinkers(lijst):
    return [x for x in lijst if x in "aieou"]

x1,x2 = set(klinkers(boterham)),set(klinkers(hamvraag))
print(x1&x2)

{'a'}

**_Oefening 5_**  Schrijf een functie die een lijst van woorden als parameter krijgt en die het woord met het minst aantal klinkers en het woord met het meest aantal klinkers van deze lijst opnieuw uitprint naar het scherm. (Bij ex aequo print je het eerste woord af).

In [16]:
def print_min_max_woorden(lijst):
    _min = None
    _max = None
    for woord in lijst:
        if _min==None or len(klinkers(_min))>len(klinkers(woord)):
            _min = woord
        if _max==None or len(klinkers(_max))<len(klinkers(woord)):
            _max = woord
    print(_min, _max)

print_min_max_woorden(["abcde","abc", "abd","abcdef","abcd", "abcdeg"])

abc abcdef

**_Oefening 6_** : Schrijf een python functie $divisors$  die gegeven een getal als input, 
    als resultaat alle delers van dat getal teruggeeft. 
  
  **Tip:** maak gebruik van de range() functie.

In [18]:
def divisors(getal):
    return [x for x in range(1,getal) if getal%x==0]

print(divisors(20))

[1, 2, 4, 5, 10]

**_Oefening 7_** Schrijf een Python functie $vraag\_zin$ die een zin inleest in de vorm van een String en er een vraagzin van maakt door de eerste twee woorden om te wisselen en achteraan een vraagteken toe te voegen.

$vraagzin$("ik zou beter moeten weten")

\>> Zou ik beter moeten weten?


**Tip:** Zet je string eerst om naar een lijst via de $split$ functie, nadien zet je het eindresultaat weer om naar een string via de $join$ functie.

In [19]:
def vraag_zin(zin):
    temp = zin.split(" ")
    temp[0],temp[1] = temp[1], temp[0]
    return " ".join(temp)+"?"

vraag_zin("ik zou beter moeten weten")

'zou ik beter moeten weten?'

**_Oefening 8_** Schrijf een functie $blok\_zin$ die een zin (= lijst van woorden) inleest en deze terugschrijft naar het scherm maar telkens in blokken van 5 letters. Spaties komen dus op een andere plaats te staan. Het laatste blokje letters bevat het restje (mogelijk kleiner dan 5 letters)

Bijvoorbeeld :

Geef je zin :

'Een korte maar wel een echte zin'

Dit geeft :

'Eenko rtema arwel eenec htezi n'

**Tip:** Maak opnieuw gebruik van de $range$ methode, nu in de versie met 3 parameters zodat je een step-size kan meegeven.

In [22]:
def blok_zin(zin):
    nospace = zin.replace(" ","")
    for i in range(0,len(zin),5):
        print(nospace[i:i+5],end=" ")

blok_zin("dit is een test zin end")

ditis eente stzin end

### Deel 2 : Datastructuren in Python : tuples, lijsten, dictionnaries en sets

**_Oefening 9_** data inlezen van file en omzetten naar een lijst van tuples

Gegeven een tekstbestand met namen van personen en hun geboortedatum. (file : DataLabo_01.txt).
Lees dit bestand in via volgende code :

    with open ('file_to_read.txt') as open_file:
        for line in file :
            ...

Om de '\n' van de ingelezen lijn te verwijderen kan je gebruik maken van de $rstrip()$ functie.

Maak nu een lijst van tuples, waarbij elke tuple de gegevens van 1 persoon bevat als volgt : 

\[('Albert', 'Einstein', '03/14/1879'), ('Benjamin', 'Franklin', '01/17/1706'), ('J.', 'Edgar', 'Hoover', '01/01/1895'), $\ldots$
 
 Wanneer je deze lijst gemaakt hebt geef je de eerste 5 en laatste 5 personen uit de lijst weer.

In [30]:
with open("DataLabo1_01.txt","r") as f:
    tup = [tuple(line.rstrip().split(" ")) for line in f]
    print(tup[:5])

[('Albert', 'Einstein', '03/14/1879'), ('Benjamin', 'Franklin', '01/17/1706'), ('J.', 'Edgar', 'Hoover', '01/01/1895'), ('Mel', 'Gibson', '01/03/1956'), ('Michael', 'Schumacher', '01/03/1969')]

**_Oefening 10_** : Sorteren

Elk tuple bevat voornaam, achternaam eventueel initialen en het laatste element zijn geboortedatum. 

**10.1** Zorg ervoor dat de string die de geboortedatum voorstelt ook effectief omgevormd wordt tot een $date$ object :
        
        [(('Albert', 'Einstein'), datetime.date(1879, 3, 14)), ...
        
  en maak van de naam 1 apart string bv : 
  
      ('J. Edgar Hoover', datetime.date(1895, 1, 1)),
      
  
  _Tip_ Gebruik de methode $join$ 
        
**10.2** Sorteer vervolgens de verkregen lijst met tuples op 2 verschillende manieren : eerst op naam, vervolgens op leeftijd. 

_Tip_ : Je kan ofwel de $sort$ methode op lijsten gebruiken, ofwel de functie $sorted$ die algemeen werkt op sequences. Wat is het verschil?

**10.3** Geef de oudste en jongste uit de lijst weer

In [50]:
import datetime

def gen_date(datestr):
    datearr = [int(x) for x in datestr.split("/")]
    datearr[0], datearr[1],datearr[2] = datearr[2],datearr[0],datearr[1]
    return datetime.date(*datearr)

def oldest_and_youngest(people):
    _min = None
    _max = None
    for person in people:
        if _min==None or min(_min[1],person[1])==person[1]:
            _min = person
        if _max==None or max(_max[1],person[1])==person[1]:
            _max = person
    return (_min, _max)

with open("DataLabo1_01.txt","r") as f:
    tup = [(tuple(line.rstrip().split(" ")[:-1]),gen_date(line.rstrip().split(" ")[-1])) for line in f]
    print(tup[:5])


with open("DataLabo1_01.txt","r") as f:
    tup = [tuple([ " ".join(line.rstrip().split(" ")[:-1]) , gen_date(line.rstrip().split(" ")[-1]) ]) for line in f]
    print(tup[:5])
    print(oldest_and_youngest(tup))

[(('Albert', 'Einstein'), datetime.date(1879, 3, 14)), (('Benjamin', 'Franklin'), datetime.date(1706, 1, 17)), (('J.', 'Edgar', 'Hoover'), datetime.date(1895, 1, 1)), (('Mel', 'Gibson'), datetime.date(1956, 1, 3)), (('Michael', 'Schumacher'), datetime.date(1969, 1, 3))]
[('Albert Einstein', datetime.date(1879, 3, 14)), ('Benjamin Franklin', datetime.date(1706, 1, 17)), ('J. Edgar Hoover', datetime.date(1895, 1, 1)), ('Mel Gibson', datetime.date(1956, 1, 3)), ('Michael Schumacher', datetime.date(1969, 1, 3))]
(('Isaac Newton', datetime.date(1642, 12, 25)), ('Prins Harry', datetime.date(1984, 9, 15)))

**_Oefening 11_** : Maak een maandkalender. Gebruik opnieuw de data uit datafile : ´DataLabo_01.txt´

 **11.1** Maak eerst een dictionary waarin maanden de keys en als values het aantal jarigen in die maand.
   Tel dus voor elke maand hoeveel personen in je dictionary jarig zijn. 
   
 **11.2**  Maak ook een dictionary waarin maanden de keys zijn en als value kies je een set van alle personen die in die maand jarig zijn

_Tip_ : je kan gebruik maken van $defaultdict$ uit module $collections$

_Tip_ : alternatief kan je ook werken met een $counter \; object$ eveneens uit de module $collections$ om de telling te doen

In [110]:
def list_for_keys(key, dateidx, concat=[]):
    with open("DataLabo1_01.txt","r") as f:
        initline = [line for line in f]
        lines = initline + concat
        return [line for line in lines if int(line.rstrip().split(" ")[-1].split("/")[dateidx])==key]

dict1 = {key:len(value) for (key, value) in [(i, list_for_keys(i,1)) for i in range(1,13)] }
dict2 = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,1)]) for i in range(1,13)] }
print(dict1)
print(dict2)

{1: 7, 2: 1, 3: 6, 4: 3, 5: 5, 6: 4, 7: 2, 8: 1, 9: 4, 10: 2, 11: 3, 12: 0}
{1: {'Brandon Lee', 'William Clark', 'Yves Saint-Laurent', 'Julie Andrews', 'J. Edgar Hoover', 'Prinses Diana', 'John Ford'}, 2: {'Benjamin Spock'}, 3: {'Michael Schumacher', 'Mel Gibson', 'James Brown', 'Marlon Brando', 'Tom Cruise', 'Dolph Lungren'}, 4: {'Alice Cooper', 'Charles Lindbergh', 'Louis Armstrong'}, 5: {'Kate Winslet', 'Freddy Mercury', 'Karl Marx', 'Bette Davies', 'Bob Geldof'}, 6: {'Dalai Lama', 'Axl Rose', 'Sigmund Freud', 'Ronald Reagon'}, 7: {'Charles Dickens', 'Russel Crowe'}, 8: {'Tara Reid'}, 9: {'Bobby Fisher', 'O.J. Simpson', 'Richard Nixon', 'Hugh Grant'}, 10: {'Robert Wagner', 'Osama Bin Laden'}, 11: {'Jennifer Anniston', 'Leonardo di Caprio', 'Demi Moore'}, 12: set()}

**_Oefening 12_** : 

**12.1** Breid je eerder gemaakt **lijst** van verjaardagen uit met volgende personen :

- Roger Federer 1981/08/08
- Dustin Hoffman 1937/08/08
- Vanessa Amorosi 1981/08/08
- Whitney Houston 1963/08/09
- Meat Loaf 1947/09/27
- Cheryl Tiegs 1947/09/27
- Robert Redford 1936/08/18


**12.2** Maak een jaarkalender :
Maak voor elk jaartal (aanwezig in de data) een verzameling van personen die in dat jaar geboren zijn. Stop je resultaat in een dict als volgt : key = jaartal; value= verzameling personen. Welke personen zijn in hte jaar 1948 geboren?

**12.3** Maak nu een verjaardagskalender : 
Maak voor elke dag in de maand een verzameling van personen die op deze dag van de maand jarig zijn. Stop je resultaat in een dict als volgt : key = (dag); value= verzameling personen. Welke personen verjaren op 4 februari? Welke personen verjaren op 18 augustus?

In [126]:
def keyset(index):
    with open("DataLabo1_01.txt","r") as f:
        return list(set(int(line.rstrip().split(" ")[-1].split("/")[index]) for line in f))

mls = """Roger Federer 1981/08/08
Dustin Hoffman 1937/08/08
Vanessa Amorosi 1981/08/08
Whitney Houston 1963/08/09
Meat Loaf 1947/09/27
Cheryl Tiegs 1947/09/27
Robert Redford 1936/08/18""".split("\n")
dict3 = {key:len(value) for (key, value) in [(i, list_for_keys(i,0,mls)) for i in range(1,13)] }
dict4 = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,0,mls)]) for i in range(1,13)] }
print(dict3)
print(dict4)

dict5 = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,2,mls)]) for i in keyset(2)] }#jaar
dict6 = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,1,mls)]) for i in keyset(1)] }#dag
print(dict5)
print(dict6)

{1: 10, 2: 13, 3: 4, 4: 5, 5: 9, 6: 4, 7: 0, 8: 10, 9: 7, 10: 6, 11: 6, 12: 1}
{1: {'Michael Schumacher', 'Mel Gibson', 'Phill Collins', 'Richard Nixon', 'Betty White', 'Bridget Fonda', 'J. Edgar Hoover', 'Mohammed Ali', 'Orlando Bloom', 'Benjamin Franklin'}, 2: {'Charles Dickens', 'Brandon Lee', 'Steven Jobs', 'Johnny Cash', 'Axl Rose', 'Nina Simone', 'Alice Cooper', 'Charles Lindbergh', 'Robert Wagner', 'Ronald Reagon', 'Elisabeth Taylor', 'Jennifer Anniston', 'John Ford'}, 3: {'Bobby Fisher', 'Aretha Franklin', 'Osama Bin Laden', 'Albert Einstein'}, 4: {'Al Pacino', 'Russel Crowe', 'Bette Davies', 'Iggy Pop', 'Marlon Brando'}, 5: {'George Lukas', 'James Brown', 'Karl Marx', 'Madeleine Albright', 'Bob Dylan', 'John F.  Kennedy', 'Naomi Campbell', 'Benjamin Spock', 'Sigmund Freud'}, 6: {'Dalai Lama', 'O.J. Simpson', 'Tom Cruise', 'Prinses Diana'}, 7: set(), 8: {'Roman Polanski', 'Ben Affleck', 'Robert Redford', 'William Clark', 'Tori Amos', 'Moeder Teresa', 'Louis Armstrong', 'Patrick Swayze', 'Yves Saint-Laurent', 'Steve Martin'}, 9: {'Bruce Springsteen', 'Freddy Mercury', 'Leonard Cohen', 'Stephen King', 'Hugh Grant', 'Oliver Stone', 'Prins Harry'}, 10: {'Kate Winslet', 'Oscar Wilde', 'Julie Andrews', 'Cliff Richard', 'Bob Geldof', 'Alfred Nobel'}, 11: {'Tara Reid', 'Prins Charles', 'Leonardo di Caprio', 'Condoleezza Rice', 'Demi Moore', 'Dolph Lungren'}, 12: {'Isaac Newton'}}
{1922: {'Betty White'}, 1924: {'Marlon Brando'}, 1930: {'Robert Wagner'}, 1932: {'Johnny Cash', 'Elisabeth Taylor'}, 1933: {'Roman Polanski', 'Nina Simone', 'James Brown'}, 1934: {'Leonard Cohen'}, 1935: {'Dalai Lama', 'Julie Andrews'}, 1936: {'Robert Redford', 'Yves Saint-Laurent'}, 1937: {'Madeleine Albright'}, 1812: {'Charles Dickens'}, 1940: {'Al Pacino', 'Cliff Richard'}, 1942: {'Mohammed Ali', 'Aretha Franklin'}, 1943: {'Bobby Fisher'}, 1944: {'George Lukas'}, 1941: {'Bob Dylan'}, 1818: {'Karl Marx'}, 1947: {'Iggy Pop', 'Stephen King', 'O.J. Simpson'}, 1948: {'Prins Charles', 'Alice Cooper'}, 1945: {'Steve Martin'}, 1946: {'Oliver Stone', 'Freddy Mercury'}, 1951: {'Phill Collins'}, 1952: {'Patrick Swayze'}, 1949: {'Bruce Springsteen'}, 1954: {'Bob Geldof', 'Condoleezza Rice'}, 1955: {'Steven Jobs'}, 1956: {'Mel Gibson'}, 1957: {'Osama Bin Laden'}, 1959: {'Dolph Lungren'}, 1960: {'Hugh Grant'}, 1961: {'Prinses Diana'}, 1706: {'Benjamin Franklin'}, 1962: {'Axl Rose', 'Demi Moore', 'Tom Cruise'}, 1964: {'Russel Crowe', 'Bridget Fonda'}, 1965: {'Brandon Lee'}, 1963: {'Tori Amos'}, 1833: {'Alfred Nobel'}, 1969: {'Michael Schumacher', 'Jennifer Anniston'}, 1970: {'Naomi Campbell'}, 1972: {'Ben Affleck'}, 1974: {'Leonardo di Caprio'}, 1975: {'Tara Reid', 'Kate Winslet'}, 1977: {'Orlando Bloom'}, 1854: {'Oscar Wilde'}, 1856: {'Sigmund Freud'}, 1984: {'Prins Harry'}, 1879: {'Albert Einstein'}, 1895: {'John Ford', 'J. Edgar Hoover'}, 1770: {'William Clark'}, 1642: {'Isaac Newton'}, 1901: {'Louis Armstrong'}, 1902: {'Charles Lindbergh'}, 1903: {'Benjamin Spock'}, 1908: {'Bette Davies'}, 1910: {'Moeder Teresa'}, 1911: {'Ronald Reagon'}, 1913: {'Richard Nixon'}, 1917: {'John F.  Kennedy'}}
{1: {'Brandon Lee', 'William Clark', 'Yves Saint-Laurent', 'Julie Andrews', 'J. Edgar Hoover', 'Prinses Diana', 'John Ford'}, 2: {'Benjamin Spock'}, 3: {'Michael Schumacher', 'Mel Gibson', 'James Brown', 'Marlon Brando', 'Tom Cruise', 'Dolph Lungren'}, 4: {'Alice Cooper', 'Charles Lindbergh', 'Louis Armstrong'}, 5: {'Kate Winslet', 'Freddy Mercury', 'Karl Marx', 'Bette Davies', 'Bob Geldof'}, 6: {'Dalai Lama', 'Axl Rose', 'Sigmund Freud', 'Ronald Reagon'}, 7: {'Charles Dickens', 'Russel Crowe'}, 8: {'Tara Reid', 'Roger Federer', 'Whitney Houston', 'Robert Redford', 'Dustin Hoffman', 'Vanessa Amorosi'}, 9: {'Hugh Grant', 'O.J. Simpson', 'Richard Nixon', 'Cheryl Tiegs', 'Meat Loaf', 'Bobby Fisher'}, 10: {'Robert Wagner', 'Osama Bin Laden'}, 11: {'Jennifer Anniston', 'Leonardo di Caprio', 'Demi Moore'}, 13: {'Orlando Bloom'}, 14: {'George Lukas', 'Prins Charles', 'Steve Martin', 'Cliff Richard', 'Condoleezza Rice', 'Albert Einstein'}, 15: {'Madeleine Albright', 'Oliver Stone', 'Prins Harry', 'Ben Affleck'}, 16: {'Oscar Wilde'}, 17: {'Mohammed Ali', 'Betty White', 'Benjamin Franklin'}, 18: {'Robert Redford', 'Roman Polanski', 'Patrick Swayze'}, 21: {'Leonard Cohen', 'Nina Simone', 'Stephen King', 'Iggy Pop', 'Alfred Nobel'}, 22: {'Naomi Campbell', 'Tori Amos'}, 23: {'Bruce Springsteen'}, 24: {'Steven Jobs', 'Bob Dylan'}, 25: {'Al Pacino', 'Aretha Franklin', 'Isaac Newton'}, 26: {'Johnny Cash'}, 27: {'Elisabeth Taylor', 'Moeder Teresa', 'Bridget Fonda'}, 29: {'John F.  Kennedy'}, 30: {'Phill Collins'}}

**_Oefening 13_** : 

Gebruik bovenstaande sets en set operaties om volgende te beantwoorden:

**13.1** Geef alle jarigen uit de maand november van het jaar 1948

**13.2** Geef alle jarigen die in de zomer van een oorlogsjaar geboren zijn

**13.3** Schrijf een functie  𝑏𝑖𝑟𝑡ℎ_𝑦𝑒𝑎𝑟_𝑚𝑜𝑛𝑡ℎ_𝑑𝑎𝑦  die gegeven een jaartal, een maand en een dag alle personen teruggeven die op deze dag geboren werden. Kan je een voorbeeld vinden dat geen lege verzameling als resultaat geeft?

In [138]:
jaren = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,2,mls)]) for i in keyset(2)] }#jaar
dagen = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,1,mls)]) for i in keyset(1)] }#dag
maanden = {key:set(value) for (key, value) in [(i, [" ".join(j.split(" ")[:-1]) for j in list_for_keys(i,0,mls)]) for i in keyset(0)] }#maand

print(jaren[1948]&maanden[11])
oorlogsjaren = set()
for i in range(1914,1919):
    try:
        oorlogsjaren|=jaren[i]
    except:
        pass

for i in range(1940,1946):
    try:
        oorlogsjaren|=jaren[i]
    except:
        pass
zomer = set()
for i in range(6,9):
    try:
        zomer|=maanden[i]
    except:
        pass
for i in range(1, 32):
    try:
        if i>20:
            idx = 9
        else:
            idx=5
        zomer|=(maanden[idx]&dagen[i])
    except:
        pass
print(oorlogsjaren&zomer)

{'Prins Charles'}
{'George Lukas', 'Steve Martin'}

In [142]:
def birth_year_month_day(day, month, year):
    try:
        return jaren[year]&maanden[month]&dagen[day]
    except:
        return set()

print(birth_year_month_day(1,1,1970))
print(birth_year_month_day(26,2,1932))#02/26/1932

set()
{'Johnny Cash'}